body{
    background-color: rgb(219, 193, 209);
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 600;
    padding: 15px 0;
}
.link {
    color: black;
    background-color: chocolate;
    padding: 7px 15px;
    border-radius: 5px;
    margin: 10px;
}
h1 {
    letter-spacing: 10px;
    padding-bottom: 25px;
    width: 600px;
    border-bottom: 2px dotted black;
    margin: 70px auto 50px;
}
.redorange {
    color: rgb(223, 74, 37);
}
.blue {
    color: rgb(22, 86, 223);
}
.his {
    margin: 0 15px;
    padding: 15px;
    border: 4px solid black;
}
.red {
    background-color: rgb(206, 96, 96);
}
.bluer {
    background-color: #1c5eda;
}
.yel {
    background-color: rgb(207, 207, 78);
}
.hist{
    margin-top: 70px;
}